.image-header-background {
    background: #1b1c1b;
    overflow: hidden;
}

.image-header-background img {
    position: relative;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 2.5 / 1;
    opacity: 0.8;
    margin: -8px;
}

.image-header-logo {
    position: absolute;
    margin-top: 3vmin;
    top: 0;
    left: 0; 
    right: 0; 
    margin-inline: auto;
    width: 15%;
    padding-top: 2vmin;
    padding-bottom: 2vmin;
    padding-left: 3vmin;
    padding-right: 3vmin;
    background-color: white;
}
