.NewAppBar {
    margin: auto;
    position: static;
    width: 100%;
    background-color: #1b1c1b;
    color: white;
}

.NavBarLogo {
    width: 25%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.NavBarContact {
    font-size: 1.5vmin;
    text-align: right;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0;
    width: 100%;
}

.NavBarPhone {
    display:inline-block;
    vertical-align:middle;
}

.NavBarPhoneNumber {
    margin-left: 1%;
    display:inline-block;
    vertical-align:middle;
}

.NavBarEmail {
    display:inline-block;
    vertical-align:middle;
}

.NavBarEmailAddress {
    margin-left: 1%;
    display:inline-block;
    vertical-align:middle;
}
