.homepage-services {
    width: 100%;
}

.services-image {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}

.services-text {
    margin-left: 3%;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 47%;
    font-size: 2vmin;
}

ul {
    padding: 0 0 0 5vmin;
}

.services-title {
    font-size: 3vmin;
    color: #649c2c;
    font-weight: bold;
    margin: auto;
  }