#contact-information {
    width: 100%;
    margin:auto;
    font-size: 2vmin;
}

#contact-information-phone {    
    width: 100%;
    margin: auto;
}

#contact-information-email {
    width: 100%;
    margin: auto;
}

#social-media {
    width: 100;
    margin: auto;
}