.location-list-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#location-list {
    font-size: 2vmin;
    font-weight: bold; 
    width: 85%;
}

.map {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 96%;
    border-color: #649c2c;
    border-style: solid;
    border-width: thick;
}

.map-container {
    width: 100%;
    background-color: #1b1c1b;
}