.Contact-Info-Top {
    margin-top: min(2rem);
    text-align: center;
    padding-left: min(1rem);
    padding-right: min(1rem);
    font-size: 1em;
    text-wrap: pretty;
}
  
.baseimage {
    margin-top: min(2rem);
    width: 100%;
    object-fit: cover;
    aspect-ratio: 3 / 1;
}