#homepage {
    margin: 0 auto;
    min-width: 375px;
    max-width: 1500px;
}

#logo-homepage {
    width: 45%;
    margin: auto;
}

#container {
    text-align: center;
    width: 100%;
}

#homepage-picture img {
    margin-top: min(0.5rem);
    width: 100%;
    object-fit: cover;
    aspect-ratio: 3 / 1;
}

#homepage-testimonial {
    text-align: center;
    width: 50%;
    margin-left: 25%;
}