#homepage {
    margin: 0 auto;
    min-width: 375px;
    max-width: 1500px;
}

#container {
    text-align: center;
    width: 100%;
}

#homepage-location {
    text-align: center;
    width: 100%;
    margin: auto;
}

#homepage-why-us {
    text-align: center;
    width: 100%;
    margin: auto;
}

#homepage-testimonial {
    text-align: center;
    width: 100%;
    margin: auto;
}

#homepage-footer {
    text-align: center;
    width: 100%;
    margin: auto;
}

h3 {
    font-size: 3vmin;
    color: #649c2c;
    padding-top: 1vmin;
    padding-bottom: 1vmin;
    background-color: #1b1c1b;
    margin-top: 1vmin;
    margin-bottom: 1vmin;
  }